<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento da Entrevista</title>
</head>
<body>
    <form method="POST">
        <h1>Agendamento da Entrevista</h1>
        <form >
        Email: <input type="email" name="txtEmail" placeholder="Email"><br>
        <div class="d-flex">
            <div class="col-sm-12 col-md-6">
              <label for="txtHorario" name="txtHorario">Horário</label>
              <select class="custom-select" size="multiple">
                <option selected>8:00</option>
                <option value="1">9:00</option>
                <option value="2">9:30</option>
                <option value="3">10:30</option>
                <option value="4">11:00</option>

              </select>
            </div>
            <div class="col-sm-12 col-md-6">
              <input type="txtData" name="txtData">Data</label>
              <select class="custom-select" size="multiple">
                
                <option selected></option>
                <option value="1">09/08</option>
                <option value="2">10/08</option>
                <option value="3">11/08</option>
                <option value="4">12/08</option>
                <option value="5"></option>

              </select>
            
              
            </div>
          </div>
         <input type="submit" name="Agendar">
    </form>
    
</body>
</html>