<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento da Entrevista</title>
</head>
<body>
    <form method="POST">
        <h1>Agendamento da Entrevista</h1>
        <form >
        Email: <input type="email" name="txtEmail" placeholder="Email"><br>
      Horario: <select class="custom-select" name="txtHorario" multiple>
          <option selected>Abra este menu select</option>
          <option value="1">Um</option>
          <option value="2">Dois</option>
          <option value="3">Três</option>
        </select>
        
            <div class="col-sm-12 col-md-6">
              <input type="txtData" name="">Data</label>
              <select  class="custom-select" size="multiple">
                
                <option selected></option>
                <option value="1">09/08</option>
                <option value="2">10/08</option>
                <option value="3">11/08</option>
                <option value="4">12/08</option>
                <option value="5"></option>

              </select>
            
              
            </div>
          </div>
         <input type="submit" name="Agendar">
    </form>
    
</body>
</html>